body,
html {
	-webkit-font-smoothing: antialiased;
	background-color: #f9f9f4;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.45;
	color: #000;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	cursor: none!important;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
	margin: 0
}

@media only screen and (min-width:768px) {
	body,
	html {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	body,
	html {
		font-size: 1.5278vw
	}
}

body.--black {
	background-color: #000
}

body.portfo {
	background-color: #000;
	color: #fff
}

body.portfo .pace .pace-progress {
	background: #fff
}

body.portfo .m-indicator,
body.portfo .mouse {
	mix-blend-mode: exclusion
}

body.--natural {
	background-color: #f9f9f4
}

body.--black {
	background-color: #f0f0f0
}

body.--black .proj-slider__text,
body.--black .proj-wrap__item {
	color: #000
}

::selection {
	background-color: #000;
	color: #fff
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit
}

a,
a:focus,
a:hover,
button,
button:focus,
button:hover {
	text-decoration: none;
	outline: 0;
	color: inherit;
	padding: 0;
	background: 0 0;
	border: none
}

.underline-a {
	position: relative;
	-webkit-transition: color .3s ease;
	transition: color .3s ease
}

.underline-a:after,
.underline-a:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 4px;
	background-color: #000;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.underline-a:before {
	z-index: 1
}

.underline-a:after {
	z-index: 2;
	background-color: #fff;
	width: 0
}

.underline-a.--white:before {
	background-color: #fff
}

body.hashover .underline-a:hover {
	color: #fff
}

body.hashover .underline-a:hover:after {
	width: 100%
}

p {
	margin: 0
}

.global-container {
	width: 100%;
	height: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s ease;
	transition: all 1s ease
}

.global-container.--active {
	opacity: 1;
	visibility: visible
}

.mouse {
	position: fixed;
	z-index: 9999999;
	pointer-events: none;
	left: 0;
	top: -80px
}

.mouse.--active .mouse__text {
	opacity: 1;
	visibility: visible
}

.mouse__pointer {
	position: absolute;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.mouse__pointer:after,
.mouse__pointer:before {
	content: '';
	display: block;
	height: 1px;
	width: 16px;
	background-color: #000;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.mouse__pointer:after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg)
}

.mouse__text {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 32px;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden
}

@media only screen and (min-width:1500px) {
	.mouse__text {
		height: 2.21531vw
	}
}

.mouse__text-item {
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.mouse__text-item.--up {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%)
}

.mouse__text-no,
.mouse__text-total {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	overflow: hidden
}

@media only screen and (min-width:1500px) {
	.mouse__text-no,
	.mouse__text-total {
		height: 2.21531vw
	}
}

.mouse__text-no span {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	display: block
}

.mouse.--btm .mouse__text {
	opacity: 0
}

.mouse.--redirect .mouse__pointer:after,
.mouse.--redirect .mouse__pointer:before {
	background-color: #fff
}

.mouse.--white .mouse__pointer:after,
.mouse.--white .mouse__pointer:before {
	background-color: #fff
}

.mouse.--white .mouse__text {
	color: #fff
}

.btm {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: fixed;
	width: calc(100vw - 30px);
	bottom: 30px;
	text-align: center;
	z-index: 9
}

@media only screen and (min-width:768px) {
	.btm {
		bottom: 40px;
		width: 500px
	}
}

@media only screen and (min-width:1500px) {
	.btm {
		bottom: 2.78vw;
		width: 35vw
	}
}

.btm__logo {
	display: inline-block
}

.btm__logo h1 {
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 18px
}

@media only screen and (min-width:768px) {
	.btm__logo h1 {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.btm__logo h1 {
		font-size: 1.5278vw
	}
}

.btm__a {
	display: inline-block
}

.back,
.email,
.ig {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: fixed;
	width: calc(100vw - 30px);
	z-index: 99;
	color: #fff;
	text-align: center;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 18px
}

@media only screen and (min-width:768px) {
	.back,
	.email,
	.ig {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.back,
	.email,
	.ig {
		font-size: 1.5278vw
	}
}

.back.--active,
.email.--active,
.ig.--active {
	opacity: 1;
	visibility: visible
}

.back {
	color: #000
}

.m-indicator {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: fixed;
	width: calc(100vw - 30px);
	top: 15px;
	text-align: center
}

@media only screen and (min-width:768px) {
	.m-indicator {
		top: 40px
	}
}

@media only screen and (min-width:992px) {
	.m-indicator {
		opacity: 0;
		visibility: hidden
	}
}

.m-indicator .mouse__text {
	width: 100%;
	opacity: 1;
	visibility: visible
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none
}

.pace-inactive {
	display: none
}

.pace .pace-progress {
	background: #000;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 1px
}

.info {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh
}

.info p {
	position: absolute;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 24px;
	-webkit-transition: none;
	transition: none;
	line-height: 1.2;
	mix-blend-mode: exclusion
}

@media only screen and (min-width:768px) {
	.info p {
		font-size: 32px;
		line-height: 1.25
	}
}

@media only screen and (min-width:1500px) {
	.info p {
		font-size: 2.22vw
	}
}

.info p .super {
	vertical-align: super;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 18px;
	margin: 0 2px
}

@media only screen and (min-width:768px) {
	.info p .super {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.info p .super {
		font-size: 1.5278vw
	}
}

.portfo-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll
}

.top {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: fixed;
	top: 40px;
	text-align: center;
	z-index: 20;
	visibility: none;
	opacity: 0
}

@media only screen and (min-width:768px) {
	.top {
		visibility: visible;
		opacity: 1
	}
}

@media only screen and (min-width:1500px) {
	.top {
		top: 2.78vw
	}
}

.top__btn {
	display: inline-block;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: inherit;
	-webkit-transition: color .3s ease;
	transition: color .3s ease
}

@media only screen and (min-width:768px) {
	.top__btn {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.top__btn {
		font-size: 1.5278vw
	}
}

.top__btn:after {
	background-color: #000
}

body.hashover .top__btn:hover {
	color: #000
}

.proj-wrap {
	z-index: 30
}

.proj-wrap__lbl {
	margin-bottom: 6px;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 15px;
	color: #000;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

@media only screen and (min-width:768px) {
	.proj-wrap__lbl {
		font-size: 18px
	}
}

@media only screen and (min-width:1500px) {
	.proj-wrap__lbl {
		font-size: 1.40625vw
	}
}

.proj-wrap__list {
	height: 32px;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

@media only screen and (min-width:768px) {
	.proj-wrap__list {
		height: 40px
	}
}

.proj-wrap__item {
	display: inline-block;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 18px;
	line-height: 32px;
	-webkit-transition: opacity .3s ease, -webkit-transform .5s ease;
	transition: opacity .3s ease, -webkit-transform .5s ease;
	transition: opacity .3s ease, transform .5s ease;
	transition: opacity .3s ease, transform .5s ease, -webkit-transform .5s ease
}

@media only screen and (min-width:768px) {
	.proj-wrap__item {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.proj-wrap__item {
		font-size: 1.5278vw
	}
}

@media only screen and (min-width:768px) {
	.proj-wrap__item {
		line-height: 40px
	}
}

.proj-wrap__item.--dim {
	opacity: .2
}

.proj-wrap.--active .proj-wrap__lbl {
	opacity: 1
}

.proj-wrap.--active .proj-wrap__list {
	height: 128px
}

@media only screen and (min-width:768px) {
	.proj-wrap.--active .proj-wrap__list {
		height: 160px
	}
}

.proj-slider-wrap {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 60px;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: 0;
	visibility: hidden;
	width: calc(100vw - 30px)
}

@media only screen and (min-width:768px) {
	.proj-slider-wrap {
		top: 40px;
		width: 116vh
	}
}

.proj-slider-wrap.--active {
	opacity: 1;
	visibility: visible
}

.proj-slider-wrap.--dim {
	opacity: .05
}

.proj-slider__img {
	width: 100%
}

.proj-slider__vid {
	width: 100%
}

.proj-slider__text {
	max-width: 800px;
	margin: auto;
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 18px
}

@media only screen and (min-width:768px) {
	.proj-slider__text {
		font-size: 22px
	}
}

@media only screen and (min-width:1500px) {
	.proj-slider__text {
		font-size: 1.5278vw
	}
}

.caption-slider {
	margin-top: 10px
}

.caption-slider__item {
	font-family: GTAmerica, serif;
	font-weight: 100;
	font-size: 15px;
	color: #000;
	text-align: center
}

@media only screen and (min-width:768px) {
	.caption-slider__item {
		font-size: 18px
	}
}

@media only screen and (min-width:1500px) {
	.caption-slider__item {
		font-size: 1.40625vw
	}
}

.caption-slider__item p {
	max-width: 800px;
	margin: auto
}